.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 80vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.footer {
  height: 10vh;
  display: flex;
  color: white;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
